.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 }/*
.container {
  width: 500px;
  margin-left: 430px;
}
.row {
  width: 100%;
  display: flex;
} 
.btn {
  padding: 20px 60px;
  margin: 30px;
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
}
.btn3 {
  width: 100%;
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
  padding: 20px;
}
.txt {
  margin: 30px;
  font-size: 40px;
}
.btn:hover, .btn3:hover{
  transition: .5s;
  background: red;
  transform: scale(1.1);
}
.count {
  text-align: center;
} */